$font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$dark-text-color: #04145c;
$white-color: #ffffff;
$bck-color: #f4f4f4;
$border-color: #cccccc;
$shadow-color: #ada9a9;
$msg-erro: #FFDEAD;
$msg-sucesso: #7FFFD4;
$btn-azul: #87CEFA;
$btn-azul-hover: #ADD8E6;
$pagina-desativada: #b7daf0;
$pagina-ativada: #39aaf0;
$background: #c5d9e6;
$erro:  rgb(255, 72, 72);
$placeholder: #999;
$fundo-claro: #f3f3f3;